<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/profile.css">

  <title></title>
</head>

<body>
  <div class="containerpers">
    <div class="cardpers">
      <div class="profile-picture">
        <img src="https://images.unsplash.com/photo-1633220744880-cdf6c2b39f57?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Z2FuZ3N0ZXJ8ZW58MHx8MHx8fDA%3D" alt="Profile Picture">
      </div>
      <h2 class="name">Bodmosh Chora</h2>
      <h3 class="username">@DonHuPancho</h3>
      <p class="tagline">Keep going.</p>
      <p class="description">Shauk hai bachpan se Lootera banunga ek din!</p>
      <a href="#" class="button">account settings</a>
    </div>
  </div>
  <div class="container">
    <div class="card" style="width: 18rem;">
      <img
        src="https://images.unsplash.com/photo-1703008948807-354be77fa6a6?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"></p>
        <!-- <a href="#" class="btn btn-primary">test</a> -->
      </div>
    </div>
  </div>
</body>

</html>